.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media  (max-width: 600px) {
    html,body{
        margin: 0;
        padding: 0;

    }

    .buttonArea{
        margin-top : 20px;
    }

    .box{
        border : 1px solid black;
        width: 130px;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 10px;

    }

    .item-img{
        width: 100px;
        height: 100px;
    }

}


@media  (min-width:600px) and  (max-width: 992px) {


    .buttonArea{
        margin-top : 20px;
        gap : 20px;
    }

    .box{
        border : 1px solid black;
        width: 300px;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .item-img{
        width: 200px;
        height: 200px;
    }
}

@media  (min-width: 992px) {



    .box{
        border : 1px solid black;
        width: 500px;
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .item-img{
        width: 300px;
        height: 300px;
    }

    .buttonArea{
        margin-top : 20px;
        gap : 20px;
    }
}



.main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.win {
    border: 5px solid green;
    color: green;
}
.lose {
    border: 5px solid red;
    color: red;
}
.tie {
    border: 5px solid black;
    color: black;
}